
<aside class="main-sidebar">
    <section class="sidebar">
        <ul class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>
            
            @await Html.PartialAsync("_ModuleBitDefender")
            @await Html.PartialAsync("_ModuleZohoCRM")
            @await Html.PartialAsync("_ModuleSMSPersonal")
            @await Html.PartialAsync("_ModuleTools")
            
        </ul>
    </section>
</aside>