@if (User.HasClaim("CustomerPortal.Module", "Zoho CRM"))
{
    <li>
        <a href="pages/widgets.html">
            <i class="fa fa-th"></i> <span>Zoho CRM</span>
            <span class="pull-right-container">
            </span>
        </a>
    </li>
}