@if(User.HasClaim("CustomerPortal.Module", "SMS Personal"))
{
    <li class="treeview">
        <a href="#">
            <i class="fa fa-laptop"></i>
            <span>SMS Personal</span>
            <span class="pull-right-container">
            </span>
        </a>
    </li>
}