
@if (User.HasClaim("CustomerPortal.Module", "BitDefender"))
{
    <li class="treeview">
        <a asp-area="" asp-controller="BitDefender" asp-action="Index">
            <i class="fa fa-files-o"></i>
            <span>BitDefender</span>
            <span class="pull-right-container"></span>
        </a>
    </li>
}