@if (User.HasClaim("CustomerPortal.Module", "Tools"))
{
    <li class="treeview">
        <a href="#">
            <i class="fa fa-edit"></i> <span>Tools</span>
            <span class="pull-right-container">
            </span>
        </a>
    </li>
}